{% block fos_user_content %}

{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	<div id = "logout"> 
		<p>{{name}}, vous êtes connecté</p>
		<a href="{{ url('fos_user_security_logout') }}">
			Déconnexion
		</a>
	</div>
{% else %}
	<div id = "login" class = "span7">
		<form action="{{ path("fos_user_security_check") }}" method="post">	    
		    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
		    <input type="text" id="username" name="_username" value="identifiant" onclick="_username.value='';"/>
		    <input type="password" id="password" name="_password" value="thepasswd" onclick="_password.value='';"/>
		    <input class="button" type="submit" id="_submit" name="_submit" value="se connecter" />
		    <input type="checkbox" id="remember_me" name="_remember_me" value="off">
		    <span>se souvenir de moi </span>
		    <a href="{{ url('fos_user_resetting_request') }}">
		    mot de passe oublié ?
		    </a>
		</form>
	</div>
{% endif %}

{% endblock fos_user_content %}
    