{% extends "CitTestBundle::layout.html.twig" %}

{% block title %}
    CARRY IT - Suppression de colis
{% endblock %}

{% block body %}
    <div class="subtitle">Supprimer un colis</div>
    <div class="flash">
        {% if app.session.hasFlash('notice') %}
            <div id="notice">
                <br/>
                <b> {{ app.session.flash('notice') }} </b>
            </div>
        {% endif %}
        {% if app.session.hasFlash('fos_user_success') %}
            <div id="notice">
                <br/>
                <b> {{ app.session.flash('fos_user_success')|trans({}, 'FOSUserBundle') }} </b>
            </div>
        {% endif %}
        {% if app.session.hasFlash('warning') %}
            <div id="warning">
                <br/>
                <b> {{ app.session.flash('warning') }} </b>
            </div>
        {% endif %}
    </div>

    <div id="deletepacket"> 
        <div>
            <b>Souhaitez-vous supprimer ce colis ?</b>
        </div> 
        
        <div>
            Colis de {{ entity.Poidskg }} kg à expédier de {{ entity.villedepart }} 
            vers {{ entity.villearrivee }}

            <br /> contenu du colis : {{ entity.Categorie }}

            <br /> date de livraison souhaitée : 
            {{ entity.datelivraisonsouhaitee|date('d-m-Y') }}

            <br /> destinataire : {{ entity.NomDestinataire }} - 
            joignable au: {{ entity.TelephoneDestinataire }}

            <br /> {% if entity.complementinfo %}
            infos complémentaires : {{ entity.complementinfo }}
            {% endif%}
        </div>

        <form action="{{ path('CitTestBundle_deleteuserpacket', { 'id': entity.id }) }}" method="post">
            <p>
                <br/>
                <button class="button" type="submit">Supprimer</button>
            </p>
        </form>

        <a href="{{ path('CitTestBundle_useractivitypage') }}">
            retour à mon activité
        </a>
    </div>
{% endblock %}