<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8">
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('bundles/cittest/css/main.css') }}" type="text/css" media="all">
		{% endblock %}
		<link rel="icon" type="image/png" href="{{ asset('bundles/cittest/images/favicon.ico') }}" />

		<!--google-analytics-->
		<script type="text/javascript"> 
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-32768776-1']);
			  _gaq.push(['_trackPageview']);

			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
		</script>

		<script type="text/javascript">
        	function sizebody(){if($('#content').height()<350)$('#content').css('height','350px');}
		</script>

		<!--[if lt IE 9]>
		<script type="text/javascript" src="js/html5.js"></script>
		<style type="text/css">
		.bg {behavior:url(js/PIE.htc)}
		</style>
		<![endif]-->
		<!--[if lt IE 7]>
		<div style=' clear: both; text-align:center; position: relative;'>
		<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg" border="0"  alt="" /></a>
		</div>
		<![endif]-->
	</head>

	<body onload="sizebody()">
		<header>
			<div id="contact" class="span5">
				N'hésitez pas à nous contacter : <br/>
				<b>contact@carryit.net</b> <br/>
				01 49 23 24 13 / 06 45 21 92 92 
			</div>
			<div id="login" class="span7">
            	{% block toplogin %}
            	{% endblock %}
			</div>
		</header>
		<div id="main">
			<div id="advertising" class="">
				Le site est actuellement en <b>version beta</b>.</br>
				N'hésitez pas à nous contacter si vous avez des commentaires ou des suggestions.
			</div>
			<div id="header">
				<div id="logo">
					<a href="{{ url('CitTestBundle_homepage') }}"> 
					<img src="{{ asset('bundles/cittest/images/logo_carryit_RVB.png') }}" alt="carryit" width="140"> </a>
				</div>
				<div id="logo_commentaire" class="span3">
					<h1>CARRY IT</h1>
					<h4>transport de colis
						<br/>
						entre particuliers</h4>
				</div>

				<div id="search">
					<span>
                        {% block search %}{% endblock %}
					</span>	
				</div>
			</div>
			<div id="menu">
				<ul>
					<li><a href="{{ url('CitTestBundle_homepage') }}">Accueil</a></li>
					<li><a href="{{ url('CitTestBundle_addtrippage') }}">Proposer un voyage</a></li>
					<li><a href="{{ url('CitTestBundle_addpacketpage') }}">Proposer un colis</a></li>
					<li><a href="{{ url('CitTestBundle_useractivitypage') }}">Mon activité</a></li>
					<li><a href="{{ url('CitUserBundle_homepage') }}">Mon compte</a></li>
				</ul>
			</div>

			<div id="content">
				{% block body %}
				{% endblock %}
			</div>
		</div>

			<footer id="footer" >
				<span id="footerleft"> 
					<a href="{{ url('CitTestBundle_termsconditionspage') }}">
					Conditions Générales d'Utilisation </a>
				</span>

				<span id="footermiddle">
				</span>

				<span id="footerright"> 
					<b>CARRY IT SAS</b><br/>
					N° d'identification: 751 251 463 RCS Paris<br/>
					adresse: 81, avenue de la république 75011 Paris<br/>
					contact@carryit.net / 06 45 21 92 92<br/>
				</span>

				<div id="copyright">
					2012 CARRY IT - Tous Droits Réservés
				</div>
			</footer>
	</body>

	{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bundles/cittest/js/jquery-1.7.2.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/cittest/js/jquery-ui-1.8.20.custom.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
	{% endblock %}

</html>

