<div class="fos_user_user_show">
    <p>Utilisateur: {{ user.username }}</p>
    <p>email: {{ user.email }}</p>
    <p>prenom : {{user.prenom }}</p>
    <p>nom : {{user.nom }}</p>
    <p>naissance le : {{user.datedenaissance }}</p>
    <p>telephone : {{user.mobilephone }}</p>
    <p>adresse : {{user.adresse }}</p>
</div>