{% extends "CitTestBundle::layout.html.twig" %}

{% block title %}
	CARRY IT - covoyages pour colis
{% endblock %}

{% block toplogin %}
	{% include 'CitUserBundle:Security:login_nude.html.twig' with {'last_username': lastusername, 
	'csrf_token': token, 'error': error, 'name': name} %}
{% endblock %}

{% block search %}
    <div id="searchcomments">
        <strong style="color:#A9BC23;">Un voyage prévu ?</strong> Trouvez un colis à transporter ! <br/>
    	<strong style="color:#D50;">Un colis &agrave; expédier ?</strong> Trouvez un voyageur pour transporter votre colis !
    </div>
    <div class="flash_city">
		{% if app.session.hasFlash('nocity') %}
			{{ app.session.flash('nocity') }}
		{% endif %}
	</div>
	{% include 'CitTestBundle:Default:findtripsorpackets.html.twig' with {'csrf_token': token} %}
{% endblock %}

{% block body %}
<div id="description">
    <div class="subtitle">Le Concept</div>
    <div class="flash">
		{% if app.session.hasFlash('notice') %}
		    <div id="notice">
			    <br/>{{ app.session.flash('notice') }}
			</div>
		{% endif %}
		{% if app.session.hasFlash('fos_user_success') %}
		    <div id="notice">
			    <br/>{{ app.session.flash('fos_user_success')|trans({}, 'FOSUserBundle') }}
		    </div>
		{% endif %}
		{% if app.session.hasFlash('warning') %}
			<div id="warning">
			    <br/>{{ app.session.flash('warning') }}
			</div>
		{% endif %}
	</div>
    <div id="howitworks">
	    <img src="{{ asset('bundles/cittest/images/concept_velocite.jpg') }}" alt="concept_velocite" 
				width="850" height="239"/>
	    <ol>
			<li index="1">
				<span><b>1. </b><b style="color:#D50;">L'expéditeur</b> remet le colis au <b style="color:#A9BC23;">voyageur</b> dans la ville de départ</span>
			</li>
			<li index="2">
				<span><b>2. </b>Le <b style="color:#A9BC23;">voyageur</b> transporte le colis contre une rémunération</span>
			</li>
			<li index="3">
				<span><b>3. </b>Le <b style="color:#A9BC23;">voyageur</b> remet le colis au destinataire dans la ville de destination</span>
			</li>
		</ol>
	</div>
	<div id="features">
		<ol>
			<li index="1">
				<h4 class="subtitle">ECONOMIQUE</h4>
				<span>réduction de vos <b style="color:#A9BC23;">frais de voyage</b><br/> 
				réduction de vos <b style="color:#D50;">frais d'expédition</b></span>
			</li>
			<li index="2">
				<h4 class="subtitle">RAPIDE</h4>
				<span><b style="color:#A9BC23;">rémunération</b> immédiate<br/>
				<b style="color:#D50;">livraison du colis</b> en quelques heures</span>
			</li>
			<li index="3">
				<h4 class="subtitle">ECOLOGIQUE</h4>
				<span>réduction des émissions de CO2 grâce à un <b>meilleur remplissage de l'avion</b></span>
			</li>
		</ol>
	</div>
</div>

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		<ul id = "connecteduser_btns" class = "span4">
			<li><a class="button" href="{{ url('CitTestBundle_useractivitypage') }}">voir mon activité</a></li>
			<li><a class="button" href="{{ url('CitTestBundle_addtrippage') }}">proposer un voyage</a></li>
			<li><a class="button" href="{{ url('CitTestBundle_addpacketpage') }}">proposer un colis</a></li>
		</ul>

{% else %}
	<div id="signup" class = "span4">
		<h4 style="font-weight:bold;">Pas encore inscrit ?<br/> Rejoignez-nous !</h4>
		<br/>
		{% include 'CitUserBundle:Registration:register_content.html.twig' with 
		{'theme': theme, 'form': userform} %}
		<br />
	</div>
{% endif %}

{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bundles/cittest/js/jquery-1.7.2.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/cittest/js/jquery-ui-1.8.20.custom.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/cittest/js/CitiesAutocompletion.js') }}"></script>
{% endblock %}
	
		


