{% extends "CitTestBundle::layout.html.twig" %}

{% block title %}
    Carryit - Nouveau colis
{% endblock %}

{% block header %}
    nouveau colis
{% endblock %}

{% block body %}
<div class="flash">
	{% if app.session.hasFlash('notice') %}
	    <div id="notice">
		    <br/>
		    <b> {{ app.session.flash('notice') }} </b>
		</div>
	{% endif %}
	{% if app.session.hasFlash('fos_user_success') %}
	    <div id="notice">
		    <br/>
		    <b> {{ app.session.flash('fos_user_success')|trans({}, 'FOSUserBundle') }} </b>
	    </div>
	{% endif %}
	{% if app.session.hasFlash('warning') %}
		<div id="warning">
		    <br/>
		    <b> {{ app.session.flash('warning') }} </b>
		</div>
	{% endif %}
</div>

<div id="surlecote" class = "span2">
	<ul class="nav nav-pills nav-stacked">
		<li><a href="{{ url('CitTestBundle_homepage') }}">Accueil</a></li>
        <li><a href="{{ url('CitTestBundle_useractivitypage') }}">Mon activité</a></li>
        <li><a href="{{ url('CitTestBundle_addtrippage') }}">Nouveau voyage</a></li>
    </ul>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div id="newtripform">
	<form method="post" {{ form_enctype(form) }}>

		{{ form_errors(form) }}
		{{ form_widget(form) }}
		
		<input type="submit" value="Valider"/>
	</form>
</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/cittest/js/jquery-1.7.2.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/cittest/js/jquery-ui-1.8.20.custom.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/cittest/js/CitiesAutocompletion.js') }}"></script>
{% endblock %}
