{% extends "CitTestBundle::layout.html.twig" %}

{% block title %}
     CARRY IT - Proposition de colis
{% endblock %}

{% block body %}
<div class="subtitle">Proposer un colis</div>
<div class="flash">
	{% if app.session.hasFlash('notice') %}
	    <div id="notice">
		    <br/>
		    <b> {{ app.session.flash('notice') }} </b>
		</div>
	{% endif %}
	{% if app.session.hasFlash('fos_user_success') %}
	    <div id="notice">
		    <br/>
		    <b> {{ app.session.flash('fos_user_success')|trans({}, 'FOSUserBundle') }} </b>
	    </div>
	{% endif %}
	{% if app.session.hasFlash('warning') %}
		<div id="warning">
		    <br/>
		    <b> {{ app.session.flash('warning') }} </b>
		</div>
	{% endif %}
</div>

<div id="newtriporpacket">
	<form method="post" {{ form_enctype(form) }}>

		{{ form_errors(form) }}
		{{ form_widget(form) }}
		
		<input class="button" type="submit" value="Valider"/>
	</form>
</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/cittest/js/jquery-1.7.2.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/cittest/js/jquery-ui-1.8.20.custom.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/cittest/js/CitiesAutocompletion.js') }}"></script>
{% endblock %}
