{% extends "CitTestBundle::layout.html.twig" %}

{% block title %}
    CARRY IT - Suppression de voyage
{% endblock %}

{% block body %}
    <div class="subtitle">Supprimer un voyage</div>
    <div class="flash">
        {% if app.session.hasFlash('notice') %}
            <div id="notice">
                <br/>
                <b> {{ app.session.flash('notice') }} </b>
            </div>
        {% endif %}
        {% if app.session.hasFlash('fos_user_success') %}
            <div id="notice">
                <br/>
                <b> {{ app.session.flash('fos_user_success')|trans({}, 'FOSUserBundle') }} </b>
            </div>
        {% endif %}
        {% if app.session.hasFlash('warning') %}
            <div id="warning">
                <br/>
                <b> {{ app.session.flash('warning') }} </b>
            </div>
        {% endif %}
    </div>

    <div id="deletetrip"> 
        <div>
            <b>Souhaitez-vous supprimer ce voyage ?</b>
        </div> 

        <div>
            Voyage de {{ entity.villedepart }} vers {{ entity.villearrivee }}
            <br /> départ le {{ entity.datedepart|date('d-m-Y') }}, arrivée le {{ entity.datearrivee|date('d-m-Y') }}
            <br /> via {{ entity.compagnieair }}
            <br /> {{ entity.nbkgdisponibles }} kilos proposés, à {{ entity.prixparkg }} € le kilo
            <br />
        </div>

        <form action="{{ path('CitTestBundle_deleteusertrip', { 'id': entity.id }) }}" method="post">
            <p>
                <br/>
                <button class="button" type="submit">Supprimer</button>
            </p>
        </form>

        <a href="{{ path('CitTestBundle_useractivitypage') }}">
            retour à mon activité
        </a>
    <div>
{% endblock %}


