{% extends "::layout.html.twig" %}

{% block title %}
{% endblock %}

{% block header %}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bootstrap/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block topmenu %}
    {% include 'CitUserBundle:Security:login_nude.html.twig' with {'error': error, 'name': name} %}
{% endblock %} 

{% block body %}
	{% if app.session.hasFlash('notice') %}
	<div class="flash-notice">
		<b>{{ app.session.flash('notice') }}</b>
	</div>
	{% endif %}

	<div id="surlecote" class = "span2">
		<ul class="nav nav-pills nav-stacked">
			<li><a href="{{ url('CitAccountBundle_editinfospage') }}">changer mes infos</a></li>
	        <li><a href="{{ url('CitAccountBundle_changepwd') }}">changer mon mot de passe</a></li>
	        <li><a href="{{ url('CitTestBundle_addpacketpage') }}">Supprimer mon compte</a></li>
	    </ul>
	</div>
    
    <div>
		{% block CitAccountbody %}
		{% endblock %}
	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}
