{% extends "::layout.html.twig" %} 
{# On hérite du layout qui est dans le répertoire CarryitV0.0/app #}

{% block title %}
    Carry it - compte de {{ user.username }}
{% endblock %}

{% block topmenu %}
    {% if error %}
        {% include 'CitUserBundle:Security:login_nude.html.twig' with {'error': error, 'name': user.username } %}
    {% else %}
        {% include 'CitUserBundle:Security:login_nude.html.twig' with { 'name': user.username } %}
    {% endif %}
{% endblock %} 

{% block header %}
{% endblock %}

{% block body %}
{# On y place le contenu du layout par défaut de FOSUB : https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/Resources/views/layout.html.twig #}

    {% for key, message in app.session.getFlashes() %}
    <div class="{{ key }}">
        {{ message|trans({}, 'FOSUserBundle') }}
    </div>
    {% endfor %}

    <div id="surlecote" class = "span2">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="{{ url('CitUserBundle_homepage') }}">mes infos</a></li>
            <li><a href="{{ url('CitUserBundle_editinfospage') }}">changer mes infos</a></li>
            <li><a href="{{ url('CitUserBundle_changepwd') }}">changer mon mot de passe</a></li>
            <li><a href="{{ path('CitUserBundle_deletemyaccount') }}">supprimer mon compte</a></li>
        </ul>
    </div>

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}