<h1>TestUser list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Pseudo</th>
            <th>Mdp</th>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Date_de_naissance</th>
            <th>Mobilephone</th>
            <th>Email</th>
            <th>Adresse</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('testuser_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.pseudo }}</td>
            <td>{{ entity.mdp }}</td>
            <td>{{ entity.prenom }}</td>
            <td>{{ entity.nom }}</td>
            <td>{% if entity.datedenaissance %}{{ entity.datedenaissance|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.mobilephone }}</td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.adresse }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('testuser_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('testuser_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('testuser_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
