<h1>TestUser</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Pseudo</th>
            <td>{{ entity.pseudo }}</td>
        </tr>
        <tr>
            <th>Mdp</th>
            <td>{{ entity.mdp }}</td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td>{{ entity.prenom }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ entity.nom }}</td>
        </tr>
        <tr>
            <th>Date_de_naissance</th>
            <td>{{ entity.datedenaissance|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Mobilephone</th>
            <td>{{ entity.mobilephone }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>{{ entity.adresse }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('testuser') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('testuser_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('testuser_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
